<li class='nav-users'>
  <a href='javascript:;' id='btnRefresh' role='button' data-toggle='tooltip' data-placement='bottom' title='Refresh'>
    <i class='lnr lnr-undo'></i>
  </a>

</li>
<li class='nav-users'>
  <div class="pull-left search-nav">
    <input type="text" class="form-control r-3 no-border" id="search_content" name="search_content" placeholder="Cari..." />
  </div>
</li>
