<li class='nav-users'>
    <a href='javascript:;' onclick="return history.back();" id='btnBack' role='button' data-toggle='tooltip' data-placement='bottom' title='Back'>  
        <i class='lnr lnr-chevron-left'></i>
    </a>
</li>
{{!--<li class='nav-users'>
    <a href='javascript:;' id='btnIsComplete' role='button' data-toggle='tooltip' data-placement='bottom' title='Complete Project'>
       <i class='lnr lnr-checkmark-circle'></i> Complete
    </a>
</li>--}}
