   <!-- search form -->
<form accept-charset="UTF-8" class="sidebar-form">
    <div class="input-group">
        <input class="form-control" id="search" autocomplete="off" name="search" placeholder="Filter menu..." type="text">
        <span class="input-group-btn">
            <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-filter"></i></button>
        </span>
    </div>
</form>  <!-- /.search form -->
<section class="sidebar">
 
    <div id="MenuList"></div>

</section>