<div class="image-modal">
  <div id="data-list" class="border-bottom" style="text-align: justify !important;margin-bottom: 10px !important;"></div>
  {{!-- render image table --}}
  <div id="image-list"></div>
</div>
