<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        
          <div class="box-body">
            <div class="form-group" id="current-password">
              <label for="exampleInputEmail1">Current Password</label>
              <input type="password" placeholder="enter current password" tabindex="1" name="oldPassword" id="oldPassword"  class="form-control" required />
              <input id="token" name="token" value="{{token}}" type="hidden" />
            </div>
            <div class="form-group" id="new-password">
              <label for="exampleInputEmail1">New Password</label>
              <input type="password" tabindex="2" placeholder="enter new password" name="newPassword" id="newPassword"  class="form-control" required />
            </div>

            <div class="form-group" id="conf-password">
              <label for="exampleInputPassword1">Password Confirmation</label>
              <input type="password" tabindex="3" placeholder="enter password confirmation" name="confPassword" id="confPassword" required class="form-control" />
            </div>
            
          </div><!-- /.box-body -->

          <div class="box-footer">
            <a href="javascript:;" id="btnSave" tabindex="4" class="btn btn-info btn-custom"> Change</a>
          </div>
      </div><!-- /.box -->

     
  </div>   <!-- /.row -->
</section>